.sidebar--header {
    position: relative;
    text-align: center;
    padding: 0.51rem;
    border-radius: 1rem;
    margin: 0 auto;
    width: 80%;
}
.sidebar--header img {
    object-fit: cover;
    width: 200px;
}
.sidebar--header button {
    background-color: transparent;
    border: none;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    color: white;
    background-color: #252931;
    position: absolute;
    top: 2rem;
    left: 0;
    transform: translateX(-50%);
}
.dashboard--content__sidebar {
}
.applicants h1 {
    padding-bottom: 1rem;
}
