@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap");
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
    font-size: 14px;
}

.bs {
    box-shadow: 3px 2px 3px #32363f5e, -1px -1px 3px #32363f5e;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.df {
    display: flex;
    flex-wrap: nowrap;
}
.fdc {
    flex-direction: column;
}
.aic {
    align-items: center;
}

.jcc {
    justify-content: center;
}
.secondary {
    color: #937ecc;
}
